* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 15px;
    border: 1px solid #fff;
    background-color: #4da6ff;
    color: white;
    text-align: center;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
